.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.tools/
.idea/
*.iml
build/
coverage/

android/key.properties
android/app/upload-keystore.jks

android/.gradle/
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
